.card {
  display: flex;
  gap: 23px;
  height: 184px;
}

.image {
  box-shadow: 0px 1px 4px rgba(52, 52, 52, 0.25);
  border-radius: 8px;
}

.name-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.card-code {
  font-size: 14px;
  font-weight: 400;
  color: rgba(117, 117, 117, 1);
  line-height: 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 19px;
  justify-content: center;
}

.card-price {
  font-size: 14px;
  line-height: 20px;
  color: rgba(117, 117, 117, 1);
  font-weight: 400;
}

.card-price-amount {
  font-size: 16px;
  line-height: 20px;
  color: rgba(52, 52, 52, 1);
  font-weight: 500;
}

.price-container {
  display: flex;
  gap: 10px;
}
